<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/books" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <%for(let i=0; i<nav.length; i++){%>
          <li>
            <a href="<%=nav[i].link%>"><%=nav[i].title%></a>
          </li>
        <%}%>
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
                <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" name='searchterm' class="form-control pull-left" placeholder="Search">
                <select name='searchby' class="form-control pull-left searchbyselect">
                  <option value="author">Author</option>
                  <option value="title">Title</option>
                  <option value="genre">Genre</option>
                </select>
            </form>
          </ul>
        </li>
        <li><a href='/auth/logout'>Log Out</a></li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%=title%>
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg">
          <div class="row addbookrow">
            <div class="col-sm-9">
                <button type="" class="btn btn-info addbookbutton">Add new Book</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /cont -->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div>
  </div><!-- /cont -->

</div>


<div class="container">
  <div class="row">

    <div class="col-md-12">

      <div class="panel">
        <div class="panel-body">
          <div class='row addbookform'>
              <%- include('bookform', {
                bookid : book._id,
                formtitle : 'Add Book',
                formmethod : 'POST'
              }); %>
          </div>
          <div class='booklistview'>
            
            <%if(noresult === '1') {%>
              <div class='noresult'><%=errorCode.NoBookFoundOnSearch%></div>
            <%}%>

            <!--/stories-->
            <%for(let i=0; i<books.length;i++) {%>
            <div class="row rowid_<%=books[i]._id%>">
              <input type='hidden' value="<%=books[i]._id%>" id="bookid">
              <br>
              <div class="col-md-2 col-sm-3 text-center">
                <a class="story-title" href="#"><img alt="" src="<%=books[i].imageURL%>" style="width:100px;height:100px" class="img-circle"></a>
              </div>
              <div class="col-md-10 col-sm-9">
                <h3><%=books[i].title%></h3>
                <div class="row">
                  <div class="col-xs-9">
                    <h4 class='searchby' data-searchby='author' data-searchterm='<%=books[i].author%>'><span class="label label-default"><%=books[i].author%></span></h4>
                    <h4 class='searchby' data-searchby='genre' data-searchterm='<%=books[i].genre%>'><span class="label label-warning"><%=books[i].genre%></span></h4> 
                    <small style="font-family:courier,'new courier';" class="text-muted"><a href="/books/<%=books[i]._id%>" class="text-muted">Read More</a></small>
                  </div>
                    <%if(!books[i].bookaddedbyuser) {%>
                      <div class="col-xs-3"><a class="btn btn-info addtolist" data-bookid="<%=books[i]._id%>" role="button">Subscribe</a>
                    <%}
                    else {%>
                      <div class="col-xs-3"><a class="btn btn-success" data-bookid="<%=books[i]._id%>" role="button">Subscribed</a>
                    <%}%>
                    
                  <a class="btn btn-info removebook" data-bookid="<%=books[i]._id%>" role="button">Delete Book</a></div>
                </div>
                <br><br>
              </div>
            </div>
            <%}%>
          </div>
   	</div><!--/col-12-->
  </div>
</div>

<hr>
  <!-- script references -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/book.js"></script>
	</body>
</html>
